<Content of="master">

  <body class="login-page">
    <div class="login-container">

      {statusMessage|*}

      <div class="login-box">
        <div class="login-box-body">
          <h1 class="text-info">{app.appName}</h1>
          <If {settings.title}>
            <h3 class="text-info">{settings.title}</h3>
          </If>
          <h4>$LOGIN_PROMPT</h4>
          <div class="form-group has-feedback">
            <label for="username">$LOGIN_USERNAME</label>
            <input name="username"
                   id="username"
                   type="text"
                   class="form-control"
                   autofocus
                   tabindex=1
                   value={model.username}>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>

            <a class="remember" href="javascript:void(0)">$LOGIN_FORGET_PASS</a>
          </div>
          <div class="form-group has-feedback">
            <label for="password">$LOGIN_PASSWORD</label>
            <input name="password"
                   id="password"
                   type="password"
                   class="form-control"
                   tabindex=2
                   value={model.password}/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <input id="remember" type="checkbox" tabindex=3>
              &nbsp;
              <label for="remember">&nbsp;$LOGIN_REMEMBER_ME&nbsp;</label>
            </div>
            <div class="col-sm-6">
              <button class="btn-primary btn btn-block with-icon icon-right"
                      type="submit"
                      tabindex=4
                      onclick="selenia.doAction('login')">
                <i class="fa fa-play-circle"></i> $LOGIN_BUTTON
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <Include scripts/>
    <script>window.onload = function () {
      setTimeout (function () {
        var i;
        $ ('#username').on ('keydown', function (ev) {
          if (!i) {
            i = true;
            if (ev.keyCode != 13 && ev.keyCode != 9 && $ (this).val ())
              $ (this).val ('');
          }
        })
      }, 1);
    }</script>
  </body>
</Content>

<Include view="layouts/master.html"/>
